@import "./tokens.css";

:root {
  --button-solid-color: var(--color-base-white);
  --button-color-primary: var(--color-brand-primary);
  --button-color-secondary: var(--font-color-base);
  --input-base-height: var(--size-7);
  --input-base-background-color: var(--color-neutral-200);
  --page-background-color: var(--color-base-white);
  --card-background-color: var(--color-base-white);
}
