.paragraph {
  font-family: var(--font-family-base);
  margin: 0;
}

.colorBase {
  color: var(--font-color-base);
}

.colorInverse {
  color: var(--font-color-inverse);
}

.colorPrimary {
  color: var(--font-color-primary);
}

.sizeSm {
  font-size: var(--font-size-3);
}

.sizeMd {
  font-size: var(--font-size-base);
}

.sizeLg {
  font-size: var(--font-size-5);
}
